* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #0B1437 0%, #060B28 100%);
  background-attachment: fixed;
}
